td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 55px;
}

.tableWrapper {
  margin-top: 20px;
}

table {
  border-radius: 10px;
  border: 5px solid white;
}

.player {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.player div {
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  /* margin: 5px 15px 30px 15px; */
  cursor: pointer;
}

.player1 {
  margin-right: 15px;
}

.player div:hover {
  box-shadow: 1px 1px 2px 2px white;
}

.button_clear {
  padding: 20px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* .button_clear:hover {
  box-shadow: 1px 1px 10px 5px white;
} */

.turn {
  background-color: tomato !important;
}

.winner {
  margin: 10px 5px 10px 0px;
}
